.Films {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 1500px;
  position: relative;

  @media (min-width: 1500px) {
    justify-content: center;
  }

  &__buttons {
    display: flex;
    position: fixed;
    bottom: 80px;
    width: 100%;
  }
}
