.DecideButton {
  width: 50%;
  height: 50px;
  font-size: 1.5em;
  border: none;
  color: white;
  cursor: pointer;

  @media (min-width: 1500px) {
    width: 25%;
  }

  &__accept {
    background-color: #2682df;
  }

  &__reject {
    background-color: #eb1d7c;
  }
}
