.Footer {
  background-color: #0b1315;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: fixed;
  bottom: 0;
  z-index: 100;

  &__links {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    @media (min-width: 1100px) {
      justify-content: center;
    }
  }

  &__link {
    width: 40px;
    height: 40px;

    @media (min-width: 1100px) {
      margin: 0 27px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    font-size: 1.2em;
    color: white;

    span {
      color: #c96fff;
    }
  }
}
