.Header {
  background-color: #1b2223;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 100;

  &__logo {
    width: 40px;
    height: 40px;
  }

  &__text {
    color: #8b00f9;
    font-size: 2em;
    margin: 0;
  }
}
